<!DOCTYPE html>
<html>
<head>
    <title>Add Employee</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="form-box">
    <h2>Add User</h2>

    <form action="/add" method="POST">
        <input type="text" name="name" placeholder="Employee Name" required>
        <input type="text" name="gender" placeholder="Gender" required>
        <input type="text" name="department" placeholder="Department" required>
        <input type="number" name="salary" placeholder="Salary" required>
        <input type="date" name="startDate" placeholder="Start Date" required>
        <button type="submit">Add User</button>
        <a href="/" class="btn-back">Back</a>
    </form>
</div>

</body>
</html>
